.idea/

**/src/main/resources/default.properties
**/src/main/resources/META-INF/version/git-com.thefloow_*.properties
**/src/main/generated/
**/asciidoc/generated/api-docs/
**/src/main/asciidoc/generated/

**/target/
**/dependency-reduced-pom.xml
**/out/test/
**/out/production/
**/build/
**/.gradle/
**/*.iml
**/ScriptDB.mv.db

velocity.log
